<div id="follow-icons">
  <% if (theme.twitter) { -%>
    <a target="_" href="http://twitter.com/<%- theme.twitter %>"><i class="fa fa-twitter fa-2x"></i></a>
  <% } -%>
  <% if (theme.github) { -%>
    <a target="_" href="http://github.com/<%- theme.github %>"><i class="fa fa-github fa-2x"></i></a>
  <% } -%>
  <% if (theme.linkedin) { -%>
    <a target="_" href="http://linkedin.com/in/<%- theme.linkedin %>"><i class="fa fa-linkedin fa-2x"></i></a>
  <% } -%>
  <% if (theme.youtube) { -%>
    <a target="_" href="https://www.youtube.com/user/<%- theme.youtube %>"><i class="fa fa-youtube-play fa-2x"></i></a>
  <% } -%>
  
  <% if (theme.instagram) { -%>
    <a target="_" href="http://instagram.com/<%- theme.instagram %>"><i class="fa fa-instagram fa-2x"></i></a>
  <% } -%>

  <% if (theme.pinterest) { -%>
    <a target="_" href="http://pinterest.com/<%- theme.pinterest %>"><i class="fa fa-pinterest fa-2x"></i></a>
  <% } -%>
  <% if (theme.facebook) { -%>
    <a target="_" href="http://facebook.com/<%- theme.facebook %>"><i class="fa fa-facebook fa-2x"></i></a>
  <% } -%>
  <% if (theme.rss) { -%>
    <a target="_" href="<%- theme.rss%>"><i class="fa fa-rss-square fa-2x"></i></a>
  <% } -%>
</div>
<h6><a href="<%- config.root %>about">About</a></h6>
<!--<h6><a href="<%- config.root %>extras">Extras</a></h6>-->